.Booklist{
    width: 80%;
    margin: auto;
}

.head{
    padding: 10px 20px;
    font-family: var(--fam);
}

/* <---- filter Section ----> */

    .feature{
        min-height: 10%;
        height: 20%;
        padding: 10px 20px;
        padding-bottom: 20px;
    }
        .feature select{
            padding: 5px 10px;
            border-radius: 5px;
            margin-right: 20px;
            font-family: var(--fam);
            cursor: pointer;
            margin-top: 10px;
        }
        .feature button{
            padding: 5px 10px;
            border-radius: 5px;
            margin-top: 10px;
            border: 1px solid gray;
            outline: none;
            cursor: pointer;
            background-color: white;
            font-family: var(--fam);
            margin-right: 20px;
            &:hover{
                background-color: #CCCCFF;
            }
        }


/* <---- Booklist Display Board ----> */

    .content{
        width: 100%;
        max-height: 75vh;
        padding: 20px 20px; 
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        row-gap: 40px;
        column-gap: 40px;
        overflow: auto;
    }

    .loading{
        font-family: var(--fam);
        font-weight: 400;
        color: var(--col);
    }

/* <---- ---->     */

@media (max-width:800px) {
        .content{
            row-gap: 25px;
        }
}
